.benefits {
    padding: 43px 31px 38px 70px;
    margin-bottom: 60px;

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__icon {
        display: block;
        margin-bottom: 26px;
        color: $blue-color;
    }

    .icon-procent {
        font-size: 34px;
    }
    .icon-star {
        font-size: 43px;
    }
    .icon-tovars {
        font-size: 30px;  
    }

    &__text {
        max-width: 160px;
        color: #8A8A8F;
        line-height: 130%;
    }
}