.slider {
    height: 100%;
    position: relative;
    max-height: 533px;
    margin-bottom: 24px;

    &__item {
        display: flex !important;
        align-items: flex-end;
        height: 100%;
        background: url('../img/banerMan.jpg') center / cover no-repeat;
        background-size: 100%;
        max-height: 533px;
        padding: 0 47px 45px 58px;
        min-height: 533px;
    }

    &__title {
        font-size: 36px;
        line-height: 130%;
        color: #FFFFFF; 
        margin-bottom: 24px;
    }
    &__sub-title {
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    &__btn {
        display: block;
        width: 240px;
        height: 59px;
        color: #FFFFFF;
        text-align: center;
        line-height: 59px;
        font-size: 18px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
    }
}

.slick {
    &-list, &-track, &-slide, &-slide>div {
        height: 100%;
    }

    //dots
    &-dots {
        display: flex;
        position: absolute;
        bottom: 45px;
        right: 47px;
        li {
            margin-right: 12px;
            
            button {
                font-size: 0;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background: #FFFFFF;
                opacity: 0.3;
            }
            
        }
        li.slick-active button {
            opacity: 1;
        }
    }
}