.tovars {
    .slick {
        &-next, &-prev {
            position: absolute;
            top: 22%;
            font-size: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: url('../img/arrow-next.svg') center center no-repeat;
            background-size: 19px;
            background-color: rgba(255, 255, 255, 0.8) !important;
            z-index: 10;
        }
        &-next {
            right: 0;
        }
        &-prev {
            right: 57px;
            transform: rotate(180deg);
            background-color: rgb(255, 255, 255) !important;
            opacity: 0.3;
        }
    }
}