.tovars {
    &__container {
        padding: 8px 13px 0 0;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
    }
    &__more {
        color: $blue-color;
        font-size: 12px;
    }
    &__title {
        font-size: 16px;
        color: #000;
        margin-bottom: 11px;
    }
    &__item {
        max-width: 264px;
    }
    &__have {
        color: #1EC17B;
        font-size: 12px;
        margin-bottom: 17px;
    }
    &__purchase {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 29px 0 0;
    }
    &__price {
        font-size: 24px;
        color: #000;
    }
    &__basket {
        display: flex;
        align-items: center;

        .icon-basket {
            margin-right: 8px;
            font-size: 20px;
        }
        &-text {
            color: $blue-color;
            font-size: 12px;
        }
    }

    // starts
    &__form {
        margin-bottom: 30px;
    }
}