@mixin font($font_name, $file_name, $weight, $style) {
    font-family: $font_name;
    font-display: swap;
    src: url("fonts/#{$file_name}.woff") forma("woff"), url("fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
}

// base
@import 'reset';
@import 'fonts';
@import 'base/animations';
@import 'base/media';
@import 'base/mixins';
@import 'base/variables';
@import 'icon_fonts';

body {
    font-family: $wrap-font-family;
    background: $background-body;
}

.icon {
    &-comprasion, &-cardio, &-basket {
        color: $blue-color;
    }
}

#main {
    width: 100%;
    height: 100%;
}
.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

// blocks
@import 'blocks/wraper';
@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/content';
@import 'blocks/aside';
@import 'blocks/menu';
@import 'blocks/articles';
@import 'blocks/order_status';
@import 'blocks/interview';
